<!DOCTYPE html>
<html lang="vi">
  <head>
    <title><%= content_for(:title) || "HUGE - Đăng nhập" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", cache: false %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload", cache: false %>
  </head>

  <body class="bg-white">
    <%= yield %>
  </body>
</html>

