<!DOCTYPE html>
<html lang="vi">
  <head>
    <title><%= content_for(:title) || t('site.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="<%= content_for(:description) || t('site.description') %>">
    <meta name="keywords" content="thiết bị vệ sinh, bồn cầu thông minh, lavabo, sen vòi, KDN">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload", cache: false %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", cache: false %>
  </head>

  <body class="bg-white">
    <%= render 'shared/public_header' %>
    
    <main>
      <%= yield %>
    </main>
    
    <%= render 'shared/public_footer' %>
    <%= render 'shared/catalogue_modal' %>
    
    <%= javascript_include_tag "public", "data-turbo-track": "reload" %>
  </body>
</html>

